<!--begin::Root-->
<div class="d-flex flex-column flex-root" id="kt_app_root">

  <!--begin::Authentication - Two-factor -->
  <div class="d-flex flex-column flex-column-fluid flex-lg-row">
    <!--begin::Aside-->
    <div class="d-flex p-10 ">
      <!--begin::Body-->

    <!--end::Body-->
    <img src="../../../assets/media/varias/registro.jpeg" class="img-fluid" alt="">
    <!-- <img class="mx-20" src="../../../../../assets/media/illustrations/sketchy-1/17-dark.png" alt=""> -->
    </div>
    <!--begin::Aside-->
    <!--begin::Body-->
    <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end mx-10">
      <!--begin::Card-->
      <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-800px p-20">
        <!--begin::Wrapper-->
        <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20">
          <!--begin::Form-->
          <form class="form w-100 mb-5" [formGroup]="verifyForm" ngNativeValidate (ngSubmit)="verify()">
            <!--begin::Icon-->
            <div class="text-center mb-10">
              <img alt="Logo" class="mh-125px" src="../../../../../assets/media/svg/misc/smartphone-2.svg" />
            </div>
            <!--end::Icon-->
            <!--begin::Heading-->
            <div class="text-center mb-10">
              <!--begin::Title-->
              <h1 class="montserrat-bold mont-p18 mb-3">Enter your verification code</h1>
              <!--end::Title-->
              <!--begin::Sub-title-->
              <div class="montserrat-bold mont-p11 mb-5">We just sent an SMS with a 6 digits verification code to</div>
              <!--end::Sub-title-->
              <!--begin::Mobile no-->
              <div class="montserrat-bold mont-p12">******{{ultimos4}}</div>
              <!--end::Mobile no-->
            </div>
            <!--end::Heading-->
            <!--begin::Section-->
            <div class="mx-10 mb-10">
              <!--begin::Label-->
              <div class="montserrat mont-p10 mb-1 ms-1">Enter 6-digits verification code.</div>
              <!--end::Label-->
              <!--begin::Input group-->
              <div class="d-flex flex-wrap flex-stack text-center">
                <input type="text" appOtp class="form-control bg-transparent h-60px w-600px fs-2qx text-center mx-1 my-2" formControlName="verify" required />
                <!-- <input type="text" name="code_2" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                <input type="text" name="code_3" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                <input type="text" name="code_4" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                <input type="text" name="code_5" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                <input type="text" name="code_6" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" /> -->
              </div>
              <!--begin::Input group-->
            </div>
            <!--end::Section-->
            <!--begin::Submit-->
            <div class="d-flex justify-content-around">
              <a (click)="noCode()" class="link-primary montserrat-bold mont-p9 me-1">I didn't receive my code.</a>
              <button type="submit" class="btn btn-sm btn-dark fw-bold">Verify</button>
            </div>
            <!--end::Submit-->
          </form>
          <!--end::Form-->
          <!--begin::Notice-->
          <div class="fw-semibold fs-5">
            <!-- <span class="text-muted me-1">I didn't receive my code.</span> -->

            <!-- <span class="text-muted me-1">or</span> -->
            <!-- <a href="#" class="link-primary fs-5">Call Us</a> -->
          </div>
          <!--end::Notice-->
        </div>
        <!--end::Wrapper-->

      </div>
      <!--end::Card-->
    </div>
    <!--end::Body-->

  <!--end::Authentication - Two-factor-->
</div>
<!--end::Root-->
