<!--begin::Aside Menu-->
<div id="kt_aside" class="aside aside-dark aside-hoverable border-white border-bottom border-top border-end" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
<!--begin::Brand-->

    <!--end::Brand-->
    <!--begin::Aside menu-->
    <div class="aside-menu flex-column-fluid">
    <!--begin::Aside Menu-->
    <div class="hover-scroll-overlay-y"  id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
      <!--begin::Menu-->
      <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">

    <div class="menu-item">
      <!--begin:Menu content-->
      <!-- <div class="menu-content">
        <span class="menu-heading fw-bold text-uppercase fs-7">Pages</span>
      </div> -->
      <!--end:Menu content-->



      <div class="menu-item">
        <!--begin:Menu link-->
        <a class="menu-link" routerLink="/admin" routerLinkActive="active bg-dark" [routerLinkActiveOptions]="{exact: false}">
          <span class="menu-icon">
            <i class="ki-solid text-white ki-setting-2  fs-2"></i>
          </span>
          <span class="menu-title text-white">ADMINISTRACION</span>
        </a>
        <!--end:Menu link-->
      </div>
      <!--end:Menu item-->

              <!--begin:Menu item-->
              <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link" routerLink="/productos/new"  routerLinkActive="active bg-dark" [routerLinkActiveOptions]="{exact: false}">
                  <span class="menu-icon">
                    <i class="ki-solid ki-add-folder fs-2 text-white"></i>
                  </span>
                  <span class="menu-title text-white">INVENTARIO</span>
                </a>
                <!--end:Menu link-->
              </div>
              <!--end:Menu item-->


    </div>








      </div>
      <!--end::Menu-->
    </div>
    </div>
  <!--end::Aside menu-->

</div>
<!--end::Aside-->
