 <!--begin::Footer Section-->
  <!--begin::Wrapper-->
  <div class="">

    <!--begin::Container-->
    <div class="container text-center">
      <!--begin::Wrapper-->
      <span class=" montserrat mont-p9 pt-1" href="https://www.linkedin.com/in/andresdelgadovillate/">&copy; 2024 Andres Delgado. All right Reserverd.</span><br>
      <div class="text-center mb-10">
        <span class=" montserrat-bold mont-p9 px-10 link-primary pt-1" href="https://www.linkedin.com/in/andresdelgadovillate/">Contact Us</span>
        <span class=" montserrat-bold mont-p9 px-10 link-primary pt-1" href="https://www.linkedin.com/in/andresdelgadovillate/">Terms of Use</span>
        <span class=" montserrat-bold mont-p9 px-10 link-primary pt-1" href="https://www.linkedin.com/in/andresdelgadovillate/">Privacy Policy</span>

      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Wrapper-->

<!--end::Footer Section-->
