
    	<!--begin::Basic info-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">Add Company</h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                <form id="kt_account_profile_details_form" class="form" [formGroup]="newCompanyForm" ngNativeValidate  (ngSubmit)="addcompany()">
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">

                        <!--begin::Input group-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label for="" class="col-lg-2 col-form-label required fw-bold fs-6">Name:</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-4">
                                <div class="fv-row">
                                    <input type="text" name="nombre" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Company Name"  formControlName="name" required/>
                                </div>
                            </div>

                            <label for="" class="col-lg-2 col-form-label  fw-bold fs-6">Company Address</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-4">
                                <div class="fv-row">
                                    <input type="text" name="documento" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Address" formControlName="address" required />
                                </div>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->

            <!--begin::Input group-->
            <div class="row mb-4">
              <!--begin::Label-->
              <label  for="" class="col-lg-2 col-form-label  fw-bold fs-6">Province</label>
              <!--end::Label-->
               <!--begin::Col-->
               <div class="col-lg-4 fv-row">
                  <select (change)="selectProvince($event)"  name="province" aria-label="Select a Province"  data-placeholder="Select..." class="form-select form-select-solid form-select-lg fw-bold" formControlName="province">
                      <option value="OK" disabled>Select...</option>
                      <option value="AB">ALBERTA</option>
                      <option value="BC">BRITISH COLUMBIA</option>
                      <option value="MB">MANITOBA</option>
                      <option value="NB">NEW BRUNSWICK</option>
                      <option value="NL">NEWFOUNDLAND AND LABRADOR</option>
                      <option value="NS">NOVA SCOTIA</option>
                      <option value="ON">ONTARIO</option>
                      <option value="PE">PRINCE EDWARD ISLAND</option>
                      <option value="QC">QUEBEC</option>
                      <option value="SK">SASKATCHEWA</option>
                  </select>
              </div>
              <!--end::Col-->


              <!--end::Col-->
        </div>
        <!--end::Input group-->


                          <!--begin::Input group-->
                          <div class="row mb-4">
                            <!--begin::Col-->
                            <label for="" class="col-lg-2 col-form-label   fw-bold fs-6">Office Phone:</label>
                            <!--end::Label-->
                             <!--begin::Col-->
                             <div class="col-lg-4">
                                <div class="fv-row">
                                    <input type="text" appPhoneformat name="phone" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Office Phone" formControlName="officePhone" />
                                </div>
                            </div>
                            <label for="" class="col-lg-2 col-form-label  fw-bold fs-6">Office Email:</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-4">
                                <div class="fv-row">
                                    <input type="text" name="telefono" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Office Email" formControlName="officeEmail"/>
                                </div>
                            </div>
                            <!--end::Col-->

                          </div>

                           <!--begin::Input group-->
                           <div class="row mb-4">
                            <!--begin::Label-->
                            <label for="" class="col-lg-2 col-form-label  fw-bold fs-6">Website:</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-4">
                                <div class="fv-row">
                                    <input type="text" name="web" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="www.example.com" formControlName="website" />
                                </div>
                            </div>
                            <!--end::Col-->


                            <!--end::Col-->
                            <!--begin::Label-->
                            <label for="" class="col-lg-2 col-form-label fw-bold fs-6">Logo:</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-4">
                                <!--begin::Image input-->
                                <div class="image-input image-input-outline">
                                    <!--begin::Preview existing avatar-->
                                    <div *ngIf="!imgTemp" class="image-input-wrapper w-125px h-125px" style="background-image: url({{imgUrl}})"></div>
                                    <div *ngIf="imgTemp" class="image-input-wrapper w-125px h-125px" style="background-image: url({{imgTemp}})"></div>
                                    <!--end::Preview existing avatar-->
                                    <!--begin::Label-->
                                    <label for="" class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Seletc Image">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <!--begin::Inputs-->
                                        <input type="file" id="file" name="file" accept="image/*" (change)="cambiarArchivo($event)" />
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                                        <i class="bi bi-x fs-2"></i>
                                    </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <!-- <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                                        <i class="bi bi-x fs-2"></i>
                                    </span> -->
                                    <!--end::Remove-->
                                </div>
                                <!--end::Image input-->
                                <!--begin::Hint-->
                                <div class="form-text">Allowed files: png, jpg, jpeg.</div>
                                <!--end::Hint-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->

                    </div>
                    <!--end::Card body-->
                    <!--begin::Actions-->
                    <div class="card-footer row">


                      <div class="col d-flex justify-content-start">
                          <button type="button" (click)="back()" class="btn btn-primary me-2">Back</button>
                      </div>
                      <div class="col d-flex justify-content-end">
                          <button type="reset" class="btn btn-light btn-active-light-primary me-2">Cancel</button>
                          <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save</button>
                      </div>

                  </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>






            <!--end::Content-->
        </div>
        <!--end::Basic info-->



