<div id="kt_body" data-bs-spy="scroll" data-bs-target="#kt_landing_menu" class="bg-body position-relative mb-10">
  <!--begin::Theme mode setup on page load-->
  <!--end::Theme mode setup on page load-->
  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Header Section-->
    <div class="mb-0" id="home">
      <!--begin::Wrapper-->
      <div class="bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom landing-dark-bg">
        <!--begin::Header-->
        <div class="landing-header" data-kt-sticky="true" data-kt-sticky-name="landing-header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
          <!--begin::Container-->
          <div class="container">
            <!--begin::Wrapper-->
            <div class="d-flex align-items-center justify-content-between">
              <!--begin::Logo-->
              <div class="d-flex align-items-center flex-equal">
                <!--begin::Mobile menu toggle-->
                <button class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none" id="kt_landing_menu_toggle">
                  <i class="ki-outline ki-abstract-14 fs-2hx"></i>
                </button>
                <!--end::Mobile menu toggle-->
                <!--begin::Logo image-->
                <a href="#">
                  <img alt="Logo" src="assets/media/logos/personalSoft.png" class="logo-default h-50px h-lg-50px" />
                  <img alt="Logo" src="assets/media/logos/personalSoft.png" class="logo-sticky h-20px h-lg-25px" />
                </a>
                <!--end::Logo image-->
              </div>
              <!--end::Logo-->
              <!--begin::Menu wrapper-->
              <div class="d-lg-block" id="kt_header_nav_wrapper">
                <div class="d-lg-block p-4 p-lg-0" data-kt-drawer="true" data-kt-drawer-name="landing-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="200px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_landing_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav_wrapper'}">
                  <!--begin::Menu-->
                  <div class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-title-gray-400 menu-state-title-primary nav nav-flush fs-5 fw-semibold" id="kt_landing_menu">
                    <!--begin::Menu item-->
                    <!--end::Menu item-->
                  </div>
                  <!--end::Menu-->
                </div>
              </div>
              <!--end::Menu wrapper-->
              <!--begin::Toolbar-->
              <div  class="flex-equal text-end ms-1">
                <!-- <a routerLink="/register" class="btn btn-primary">Register</a> -->
              </div>
              <div  class="flex-equal text-end ms-1">
                <a routerLink="/login" class="btn btn-success">Sign In</a>
              </div>
              <!--end::Toolbar-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Header-->

      </div>
      <!--end::Wrapper-->
      <router-outlet></router-outlet>

    </div>

    <div class="mb-10"></div>
    <app-footer></app-footer>
    <!--end::Header Section-->

    <!--begin::Main Section-->
    <!--end::Main Section-->


  </div>
  <!--end::Root-->
  <!--end::Main-->
</div>

