	      <!--begin::Form-->
        <form class="form" [formGroup]="editUserForm" ngNativeValidate  (ngSubmit)="editUser()">
            <!--begin::Card body-->
            <div class="card-body">

              <div class="row p-4 mb-4">
                <div class="col-6">
                  <h1 for="" class="row col-form-label fw-bold">USER ID</h1>
                </div>
                <div class="col-6">
                  <h1 for="" class="row col-form-label fw-bold">{{user.email}}</h1>
                  <h1 for="" class="row col-form-label text-gray-500 ">{{user.createdAt | date:'dd MMM yyyy'}}</h1>
                </div>
              </div>
                 <!--begin::Input group-->
                 <div class="row p-4">

                  <!--end::Col-->
                      <!--begin::Label-->

                      <div class="col-3">
                        <label for="" class="row col-form-label fw-bold">NAME</label>
                        <label for="" class="row col-form-label fw-bold mt-3">EMAIL</label>
                        <label for="" class="row col-form-label fw-bold mt-3">PHONE NUMBER</label>
                        <label for="" class="row col-form-label fw-bold mt-3">POSITION</label>
                        <!-- <label for="" class="row col-form-label justify-content-end fw-bold p-6">UPDATE PASSWORD</label> -->
                      </div>
                      <!--end::Label-->
                      <!--begin::Col-->
                      <div class="col-lg-9">

                        <div class="row fv-row mb-2">
                          <div class="col-12">
                            <input type="text" name="name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First" formControlName="name" readonly/>
                          </div>
                          <!-- <div class="col-6">
                            <input type="text" name="lastname" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Last" formControlName="lastname" required />
                          </div> -->
                      </div>

                        <div class="row fv-row mb-2">
                          <div class="col-12">
                            <input type="email" name="email" autocomplete="off" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="" formControlName="email" readonly />
                          </div>
                      </div>

                      <div class="row fv-row mb-2">
                        <div class="col-12">
                          <input type="text" name="phone" appPhoneformat class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="( ) -" formControlName="phone" readonly  />
                        </div>
                    </div>

                    <div class="row fv-row mb-2">
                      <div class="col-12">
                        <input type="text" name="position" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="position"  readonly/>
                      </div>
                  </div>


                      </div>


                  </div>
                      <!--end::Col-->


                  <div class="row p-4">


                        <div class="col-4 text-center">
                          <br>
                          <button [hidden]="user.resetPassword" class="btn btn-primary btn-block my-10">CREATE NEW PASSWORD</button>
                          <button [hidden]="!user.resetPassword" class="btn btn-primary btn-block my-10">RESET PASSWORD</button>
                        </div>



                        <div  class="col-8 p-4">

                          <div class="row col-11">

                            <div class="position-relative mb-3">
                              <input class="form-control form-control-lg form-control-solid" type="password" placeholder="New Password" formControlName="password" (input)="cadena()"/>

                              <!--begin::Visibility toggle-->
                                  <!-- <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                  <i class="ki-duotone ki-eye-slash fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                  <i class="ki-duotone ki-eye d-none fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                  </span> -->
                            </div>
                            <!--end::Visibility toggle-->


                          </div>

                          <div [hidden]="!editUserForm.dirty" class="row col-11">
                            <div class="position-relative mb-1">


                                <!--begin::Alert-->
                                <div class="alert d-flex align-items-center p-1" [ngClass]="{ 'alert-success': caracteres, 'alert-danger': !caracteres }">
                                  <!--begin::Icon-->
                                  <i [hidden]="caracteres" class="ki-duotone ki-shield-cross fs-5 text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <i [hidden]="!caracteres" class="ki-duotone ki-shield-tick fs-5 text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <!--end::Icon-->

                                  <!--begin::Wrapper-->
                                  <div class="d-flex flex-column">

                                      <!--begin::Content-->
                                      <span>8 characters minimum (xxxxxxxx)</span>
                                      <!--end::Content-->
                                  </div>
                                  <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->

                                <!--begin::Alert-->
                                <div class="alert  d-flex align-items-center p-1"  [ngClass]="{ 'alert-success': mayusculas, 'alert-danger': !mayusculas }">
                                  <!--begin::Icon-->
                                  <i [hidden]="mayusculas" class="ki-duotone ki-shield-cross fs-5 text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <i [hidden]="!mayusculas" class="ki-duotone ki-shield-tick fs-5 text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <!--end::Icon-->

                                  <!--begin::Wrapper-->
                                  <div class="d-flex flex-column">

                                      <!--begin::Content-->
                                      <span>1 uppercase letter (A - Z)</span>
                                      <!--end::Content-->
                                  </div>
                                  <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->
                                <!--begin::Alert-->
                                <div class="alert d-flex align-items-center p-1" [ngClass]="{ 'alert-success': minusculas, 'alert-danger': !minusculas }">
                                  <!--begin::Icon-->
                                  <i [hidden]="minusculas" class="ki-duotone ki-shield-cross fs-5 text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <i [hidden]="!minusculas" class="ki-duotone ki-shield-tick fs-5 text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <!--end::Icon-->

                                  <!--begin::Wrapper-->
                                  <div class="d-flex flex-column">

                                      <!--begin::Content-->
                                      <span>1 lowercase letter (a - z)</span>
                                      <!--end::Content-->
                                  </div>
                                  <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->

                                 <!--begin::Alert-->
                                <div class="alert d-flex align-items-center p-1" [ngClass]="{ 'alert-success': numeros, 'alert-danger': !numeros }">
                                  <!--begin::Icon-->
                                  <i [hidden]="numeros" class="ki-duotone ki-shield-cross fs-5 text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <i [hidden]="!numeros" class="ki-duotone ki-shield-tick fs-5 text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <!--end::Icon-->

                                  <!--begin::Wrapper-->
                                  <div class="d-flex flex-column">

                                      <!--begin::Content-->
                                      <span>1 number (0 - 9)</span>
                                      <!--end::Content-->
                                  </div>
                                  <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->

                                <!--begin::Alert-->
                                <div class="alert d-flex align-items-center p-1" [ngClass]="{ 'alert-success': simbolos, 'alert-danger': !simbolos }">
                                  <!--begin::Icon-->
                                  <i [hidden]="simbolos" class="ki-duotone ki-shield-cross fs-5 text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <i [hidden]="!simbolos" class="ki-duotone ki-shield-tick fs-5 text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                                  <!--end::Icon-->

                                  <!--begin::Wrapper-->
                                  <div class="d-flex flex-column">

                                      <!--begin::Content-->
                                      <span>1 special character ()</span>
                                      <!--end::Content-->
                                  </div>
                                  <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->


                            </div>




                          </div>

                          <div class="row col-11">
                            <div class="position-relative mb-3">
                              <input type="password" name="newPassword2" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Retype New Password" formControlName="newPassword2" />

                            </div>

                          </div>


                        </div>



                  </div>






                  <br><br>

                  <div class="row text-center">

                    <h3>USER e-SIGNATURE</h3>
                    <div class="col-1"></div>
                    <div class="col-10">

                      <div class="separator border-black"></div>


                      <app-signaturepad signaturePadOptions [userID]="user._id || ''" [hidden]="user.signature"></app-signaturepad>
                    </div>

                    <div [hidden]="!user.signature">
                      <img [src]="user.signature" alt="Signature">
                      <button type="button" class="btn btn-primary col-3 my-10" (click)="resetSignature()" >RESET SIGNATURE</button>
                    </div>
                  </div>
            </div>
          <!--end::Input group-->
          <!--end::Card body-->
          <!--begin::Actions-->
          <!-- <div class="card-footer row">
            <div class="col d-flex justify-content-end">
                <button type="button" data-bs-dismiss="modal" class="btn btn-light btn-active-light-primary me-2">Cancel</button>
                <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save</button>
            </div>
        </div> -->
          <!--end::Actions-->
        </form>
        <!--end::Form-->
    <!-- </div> -->
    <!--end::Content-->
<!-- </div> -->
<!--end::Basic info-->
